form {
    display: flex;  
    flex-direction: column;
}

label {
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;

}
input[type="text"]{
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px;
    margin-right: 5em;
    border: 1px solid #999;
    padding: 5px 10px;
}  
#eintragFeld {
    flex-grow: 1;
}

input[type=button] {
    border: none;
    background-color: grey;
    color:white;
    margin: 4px 2px;
    padding: 16px 32px;
    width: 200px;
    margin: auto;
}

button {
    border: none;
    background-color: grey;
    color:white;
    margin: 4px 2px;
    padding: 16px 32px;
    width: 200px;
    margin: auto;
}

input[type=submit] {
    border: none;
    background-color: blue;
    color:white;
    margin: 4px 2px;
    padding: 16px 32px;
    width: 200px;
    margin: auto;

}

a {
    text-decoration: none;
    color: blue;
}

.leftL {
    float: left; 
    color:blue
}
