form {
    display: flex;  
    flex-direction: column;
}
label {
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
}
input[type="text"]{
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px;
    margin-right: 5em;
    border: 1px solid #999;
    padding: 5px 10px;
    flex-grow: 1;
}  
#eintragFeld {
    flex-grow: 1;
}
.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Space between buttons */
}
.friendRequest {
   width: 100px;
   margin-left: 20px;
    text-align: center;
}
legend {
    text-align: left;
}   
input[type=button] {
    border: none;
    background-color: grey;
    color:white;
    margin: 25px 2px;
    padding: 16px 32px;
    width: 200px;
    font-size: 1em;
}
input [type=radio] {
        margin-left: 0; /* Entfernt linken Abstand */
        margin-right: 5px; /* Abstand zwischen Button und Label */
        vertical-align: middle; /* Stellt sicher, dass der Button vertikal zentriert ist */
        display: inline-block;
}

button {
    border: none;
    background-color: grey;
    color:white;
    margin: 100px 2px;
    padding: 16px 32px;
    width: 200px;
    margin: auto;
    font-size: 1em;
}

input[type=submit] {
    border: none;
    background-color: blue;
    color:white;
    margin: 4px 2px;
    padding: 16px 32px;
    width: 200px;
    margin: auto;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: blue;
}
.leftL {
    float: left; 
    color:blue
}
.leftL.critical {
    color: red;
}

.field {
    display: flex; /* Use flexbox for each label-input pair */
    align-items: center; /* Align label and input vertically */
    gap: 10px; /* Add space between label and input */
    width: 100%;
}

label {
    text-align: left;
    padding-right: 10px; /* Space between label and input */
    box-sizing: border-box;
    display: inline-block;
}

