img {
    border-radius: 50%;
}
#profilPicture {
    border-radius: 0%;
    width: 300px;
   
}
.profile-container {
    display: flex;
    align-items: flex-start; /* Vertikale Ausrichtung */
    align-items: flex-start;
}
.question{
    margin-left: 30px;
}

body {
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left; /* Falls du den Text links ausrichten möchtest */
}

hr {
    border: 1px dotted #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    color: gray;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

h1.left {
    text-align: left;
}

h2{
    text-align: left;
    color: gray;
    font-size: 1.5 em;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border: 1px dotted #ccc;
    padding: 10px;
    margin: 10px auto;
    max-width: 800px; 
}

ul{
    list-style-type: none;
    text-align: left;
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 5px;
    border-width: 1px;
}


ul li{
    margin-bottom: 20px;
}

ol {
    text-align: left;
}
.messageCount {
    float: right; 
    color: white; 
    padding: 5px 5px;
    justify-content: center;
    background-color:blue; /* Hintergrundfarbe */
    display: inline-block; /* Damit der Rahmen um den Text herum funktioniert */
    margin-left: 5px; /* Abstand zu anderen Elementen */
    height: 20px;
}


img {
    border-radius: 50%;
}

label {
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;

}
input[type="text"]{
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px;
    margin-right: 5em;
    border: 1px solid #999;
    padding: 5px 10px;
}  
.chat {
    background-color: white; /* Hintergrundfarbe des gesamten Feldes */
    width:100%;
    border-radius: 10px; /* Abgerundete Ecken */
    margin: 10px auto; /* Abstand nach außen und Zentrierung */
    border: 1px solid #ccc; /* Optional: Rahmen */
    display: inline-block; /* Passt sich dem Inhalt an */
    text-align: left; /* Text links ausrichten */
    padding: 10px; /* Innenabstand */
}